doctype html
html(lang="zh-CN")
    head
        title 二手车说 - 开发代号：幽香

        // build:css /dist/css/vendor.css 
        link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.css")
        // endbuild

        // build:css /dist/css/demo.css 
        link(rel="stylesheet", href="/css/demo.css")
        // endbuild

    body
        div.container
            form.form-signin
                h2.form-signin-heading 二手车说 - 运营管理
                label(for="username").sr-only 用户名
                input(placeholder="李狗蛋" required autofocus type="text")#username.form-control
                label(for="password").sr-only 密码
                input(placeholder="李狗蛋的密码" type="password" required)#password.form-control
                div.checkbox
                    label
                        input(type="checkbox" value="remember-me")
                        |  记住我啦..._〆(°▽°*)

                button(type="submit").btn.btn-lg.btn-primary.btn-block 登录

        // build:js /dist/js/vendor.js 
        script(src="/bower_components/jquery/dist/jquery.js")
        script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="/bower_components/fbbk-json/fjson.js")
        script(src="/bower_components/jquery-backstretch/src/jquery.backstretch.js")
        // endbuild

        // build:js /dist/js/login_demo.js
        script(src="/js/demo.js")
        // endbuild
